.search-page-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    height: 100vh;
    overflow: hidden;
}

.search-page-container::-webkit-scrollbar {
    display: none;
}

.search-page-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 400px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-left: 450px;
}

.search-bar-icon {
    cursor: pointer;
}

.search-input {
    height: 80%;
    width: 80%;
    border: none;
    margin-left: 7px;
    background-color: rgb(248, 248, 248);
}

.search-input:focus {
    outline: none;
}

.search-default-content {
    display: grid;
    grid-template-columns: 1fr;
    flex-grow: 1;
    width: 100%;
    margin-left: 30px;
    margin-top: 25px;
    grid-auto-rows: 150px;
    align-items: start;
    overflow-y: auto;
    padding-bottom: 230px;
    gap: 30px;
}

.genre-section {
    overflow-x: auto;
    height: 100%;
}

.genre-books {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}


.genre-books::-webkit-scrollbar {
    display: none;
}

.genre-books {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.genre-title {
    margin: 0;
    margin-bottom: 5px;
    height: 20%;
    flex-shrink: 0;
}

.loading {
    position: absolute;
    top: 40%;
    left: 50%;
}