.all-similar-books-page-container {
    height: 100vh;
    width: 100%;
    padding-top: 20px;
}

.all-similar-books-page-main-content {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 30px;
}

.expanded-similar-book {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 60%;
}

.expanded-similar-book-cover {
    height: 140px;
    width: 90px;
    box-shadow: 4px 5px 5px rgba(0,0,0,0.1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.expanded-similar-book-cover:hover {
    transform: scale(1.1);
}

.expanded-similar-book-details {
    display: flex;
    flex-direction: column;
}

.expanded-similar-book-title {
    margin: 0px;
    font-family: 'Georgia';
    cursor: pointer;
    font-size: 21px;
}

.expanded-similar-book-title:hover {
    text-decoration: underline;
}

.expanded-similar-book-authors {
    display: flex;
    font-size: 14px;
}

.expanded-similar-book-author {
    margin: 0px;
    margin-left: 6px;
    cursor: pointer;
}

.expanded-similar-book-author:hover {
    text-decoration: underline;
}

.expanded-similar-book-description-container {
    display: flex;
    flex-direction: column;
}

.expanded-similar-book-description {
    margin-bottom: 15px;
}

.expanded-similar-book-description-faded, .expanded-similar-book-description {
    color: rgb(30, 25, 21);
    font-size: 15px;
}

.expanded-similar-book-description-faded {
    position: relative;
    overflow: hidden;
    background-color: rgb(248, 248, 248);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    margin-bottom: 0px;
}

.expanded-similar-book-description-faded::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px; /* Height of the fade effect */
    background: linear-gradient(to top, rgba(248, 248, 248, 1), rgba(248, 248, 248, 0));
    pointer-events: none;
}

.expanded-similar-book-show-btn {
    border: 0;
    background-color: inherit;
    padding-left: 0px;
    font-size: 12px;
    margin-left: 350px;
    margin-bottom: 10px;
    cursor: pointer;
}

.expanded-similar-book-show-btn:hover {
    text-decoration: underline;
}

.expanded-similar-book-reading-status-btn {
    color: white;
    border: 1px solid rgba(55, 116, 88, 0.5);
    padding: 7px;
    background-color: rgb(63, 131, 99);
    border-radius: 3px;
    transition: all 0.5s ease;
    width: 120px;
    cursor: pointer;
}

.expanded-similar-book-reading-status-btn:hover {
    background-color: rgb(71, 150, 113);
}