/* Styles for the Book component */
a {
    text-decoration: none;
    color: inherit;
}

.book-container {
    display: flex;
    flex-direction: column;
    height: 92%;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    flex: 0 0 auto;
    width: 173px;
}

.book-cover {
    width: 40px;
    height: 55px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.book-cover:hover {
    transform: scale(1.1);
}

.book-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.book-title {
    font-size: 12px;
    font-weight: bold;
    font-family: "Open-Sans", "Helvetica Neue";
    margin: 0;
    cursor: pointer;
}

.book-author {
    font-size: 10px;
    margin: 0;
    margin-top: 3px;
}