.book-page-by-status-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.book-page-by-status-main {
    margin-left: 150px;
    margin-top: 60px;
}

.book-page-by-status-header {
    display: flex;
    gap: 25px;

}

.book-page-by-status-cover {
    height: 150px;
    margin-top: 20px;
}

.book-page-by-status-title-author-container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    height: 100%;
}

.book-page-by-status-title {
    margin-bottom: 0px;
    font-size: 30px;
    font-family: 'Georgia';
}

.book-page-by-status-author {
    margin-top: 3px;
}

.book-page-by-status-author:hover {
    text-decoration: underline;
}

.book-page-by-status-reading-status-button {
    background-color: rgb(30, 22, 48);
    font-size: 12px;
    color: white;
    width: 130px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.book-page-by-status-reading-status-button:hover {
    background-color: rgb(45, 32, 73);
}

.book-page-by-status-overview {
    margin-top: 30px;
    margin-left: 2px;
}

.book-page-by-status-book-description {
    margin-top: 20px;
    word-wrap: break-word;
}