.navigation {
    background-color: rgb(22, 18, 32);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-weight: bold;
    overflow-y: hidden;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 15px;
    padding-top: 7px;
    flex-grow: 1;
}

.nav-option-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav-option {
    color: white;
    width: 100%;
    font-weight: 700px;
    font-size: 13px;
    height: 20px;
}

.nav-option p {
    display: inline;
    margin-left: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor: pointer;
}

.sbmenu-header {
    color: white;
    font-size: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

#popular-authors-nav, #read-nav {
    margin-bottom: 20px;
}


.nav-icon {
    margin-top: -3px;
    margin-right: -2px;
    width: 22px;
    height: 22px;
}

#star-nav-icon {
    width: 22px;
    height: 22px;
    margin-top: -5px;
}