.registration-page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: white;
}

.registration-page-app-name {
    margin-right: 35px;
    margin-top: 110px;
    margin-bottom: 5px;
    color: rgb(49, 38, 76);
}

.registration-form-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 50%;
    width: 25%;
    margin-right: 30px;
}

.registration-form-title {
    font-size: 40px;
    margin-bottom: 40px;
    color: rgb(49, 38, 76);
}

.registration-form-field-container {
    width: 75%;
}

.registration-field-input {
    height: 38px;
    width: 100%;
    margin-bottom: 40px;
    margin-left: -14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-family: 'Proxima-Nova';
}

.registration-field-input::placeholder {
    font-size: 15px;
    font-style: Sans-serif;
}

.registration-field-input:focus {
    outline: none; 
}

.password-warning {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 15px;
    margin-top: -30px;
    margin-bottom: 30px;
    margin-left: -20px;
  }
  
  .info-icon {
    background-color: white;
    border-radius: 50%;
    font-size: 9px;
    color: gray;
    margin-right: 8px;
    padding: 1px 6px 1px 6px;
    border: 2px solid gray;
  }
  
  .warning-text {
    color: gray;
  }
  

.registration-button-container {
    width: 80%;
}

.registration-button {
    font-size: 16px;
    width: 100%;
    height: 45px;
    border-radius: 20px;
    border: none;
    background-color: rgb(30, 22, 48);
    color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.registration-button:hover {
    background-color: rgb(45, 32, 73);
}


.already-have-account-message-div {
    margin-top: 20px;
}

.already-have-account-sign-in-link:hover {
    text-decoration: underline;
}

.registration-error {
    color: red;
    font-size: 13px;
    margin-top: -30px;
    margin-bottom: 30px;
    width: 100%;
    padding-left: 5px;
}

.registration-error p {
    margin: 0px;
}

.registering-loading {
    display: flex;
    justify-content: center;
}

.error-registering-after-verification {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 87, 87); 
    color: white; /* Dark green text for success */
    padding: 20px 40px; /* Padding for spacing */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Subtle shadow for elevation */
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
    animation: fadeOut 3s ease-in-out forwards;
    top: 5%;
    left: 50%;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; visibility: hidden; }
}
