.search-page-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 248, 248);
    height: 100%;
    width: 99.2%;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-page-container::-webkit-scrollbar {
    display: none;
}

.search-page-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.search-default-content {
    display: grid;
    grid-template-columns: 1fr;
    flex-grow: 1;
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
    grid-auto-rows: 150px;
    align-items: start;
    overflow-y: auto;
    padding-bottom: 50px;
    gap: 20px;
}

.genre-section {
    overflow-x: auto;
}

.genre-books {
    display: flex;
    overflow-x: auto;
    gap: 8px;
    position: relative;
}

.genre-books::-webkit-scrollbar {
    display: none;
}

.genre-books {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.genre-title {
    margin: 0;
    margin-bottom: 5px;
    height: 20%;
    flex-shrink: 0;
    font-family: 'Georgia';
}

.load-more-or-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    padding-bottom: 34px;
}

.load-more-or-loading svg {
    width: 20px;
    height: 10px;
    cursor: pointer;
    margin-left: -27px;
}

.default-books-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 38%;
    left: 50%;
}

.default-books-loading p {
    font-size: 18px;
    margin-bottom: 10px;
}

.default-books-error {
    position: absolute;
    top: 40%;
    left: 42%;
}